.visible {
    display: initial;
}

.hidden {
    display: none;
}


/* remove arrows from numeric input field */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
  margin: 0;
}

.timer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
